/*.slills {
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    }

.skills-content h2 {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    text-decoration: overline;
    }

.icons-container {
    display: inline-flex;
    justify-content: space-between;
    padding: 20px 10%;
    margin-top: 30px;
    gap: 45px;
    }

.icons-container img {
    width: 100px;
    height: 100px;
    }

.h2-sk {
    font-size: 35px;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    margin-top: 30px;
    text-decoration: overline;
    }

    .soft-icons {
    display: inline-flex;
    justify-content: space-between;
    padding: 20px 10%;
    margin-top: 30px;
    gap: 100px;
    margin-left: 8%;
    }

.soft-icons img {
    width: 100px;
    height: 100px;
    }
.positive-icon p{
    justify-self: center;
    align-self: center;
}
        
.creative-icon p{
    justify-self: center;
    align-self: center;
}
        
.mastery-icon p{
    justify-self: center;
    align-self: center;
}
        
.time-icon p{
    justify-self: center;
    align-self: center;
}
        
.multitasking-icon p{
    justify-self: center;
    align-self: center;
}

.coffee-web p{
    justify-self: center;
    align-self: center;
}
.tour-web p{
    justify-self: center;
    align-self: center;
}
.tartu-web p{
    justify-self: center;
    align-self: center;
}*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tech-skills{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    padding: 20px 10%;
    text-align: center;
    color: #fff;
    
    
}
.box img{
    width: 100px;
    height: 100px; 
}

.heading{
    font-size: 40px;
    margin-bottom: 40px;
    color: #fff;
}

.tech-skills .wrapper1{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /*gap: 20px;*/
    border-radius: 13px;
    overflow: hidden; 
}

.wrapper1 .box{
    padding: 30px 20px;
    
    /*border-radius: 13px;*/
    /*width: 300px*/
    gap: 20px;
}

.box h4{
    font-size: 18x;
}

@media screen and (max-width: 992px){
    .tech-skills{
        padding: 20px 5%;
    }    
}

@media screen and (max-width: 350px){
    .tech-skills .wrapper{
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }    
}