*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    /*background-image: url(images/background2.JPG);*/
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #3a90ff;
}

header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    /*background-color: transparent;*/
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo{
    font-size: 25px;
    color: green;
    text-decoration: none;
    font-weight: 600;
}


nav ul li{
    display: inline-block;
    list-style: none;
}

nav ul li a{
    font-size: 18px;
    color: #3a90ff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.15s;
    display: inline-block;
    
}
nav ul li a:hover{
    color: green;
    transform: scale(1.1); 
}

.home{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 10%;
}

.home-content{
    max-width: 650px;
}
.home-content h1{
    font-size: 53px;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
}
.home-content h3{
    font-size: 32px;
    font-weight: 700;
    color: green;
}
.home-content p{
    font-size: 16px;
    margin: 20px 0 40px;
}
.home-content p b{
    color: green;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #FEFCFF;
    border: 2px solid #3a90ff;
    border-radius: 8px;
    font-size: 19px;
    color: #3a90ff;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
}
.btn-box a:hover{
    color: green;
    border: 2px solid green;
    transform: scale(1.1);
}

.home-sci{
    position: absolute;
    bottom: 40px;
    width: 170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5%;
}
.home-sci a{
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #3a90ff;
    border-radius: 50%;
    font-size: 20px;
    color: #3a90ff;
    text-decoration: none;
    z-index: 1;
    overflow: hidden;
}
.home-sci a:hover{
    color: green;
    transform: scale(1.1);
    border: 2px solid green;
}
.img-container{
    width: 100%;
    max-width: 400px;
    height: auto;
    display: flex;
    margin-left: 10%;
}

.img-container img{
    border-radius: 10%;
    
}
.about{
top: 0;
left: 0;
width: 100%;
padding: 20px 10%;
}
.about-content{
    
}

.about-content h2{
    font-size: 53px;
    font-weight: 700;
    line-height: 1.2;
    white-space: nowrap;
    display: flex;
    justify-content: center;  
}

.key-w{
    display: flex;
    font-size: 20px;
    margin-top: 7%;
    white-space: nowrap;
    gap: 20px 50px;
    flex-wrap: wrap;

}

.motivated{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px;  
}

.fast-learner{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px; 
    
}

.team-player{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px; 
}

.team-player{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px; 
   
}

.problem-solver{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px; 
    
}

.detail-oriented{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px; 
    
}

.creative{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px; 
    
}

.result-driven{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px; 
    
}

.communicative{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px; 
    
}

.passionate{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px; 
    
}

.adaptable{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px; 
    
}

.positive{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px; 
    
}

.helpful{
    border: 3px solid rgb(255, 167, 255);
    border-radius: 7px;
    padding: 3px 5px; 
    
}
